@use './var.scss';
@use './h1.scss';
@use './design_link_underline.scss';
@use './feature-hover.scss';
@use './rainbow.scss';
@use './blockquote.scss';
@use './blur.scss';
@use './hideen.scss';
@use './marker.scss';
@use './scoll.scss';






@font-face {
  font-family: 'CustomFont';
  src: url('/fonts/2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

